{%  extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" placeholder="Username" type="text" id="username" name="_username" value="{{ lastUser }}" />

                <label for="password">Password:</label>
                <input class="form-control" placeholder="Password" type="password" id="password" name="_password" />
            </div>

            <button type="submit" class="btn btn-primary">login</button>
        </form>
        <a href="/reg">Регистрация</a>
    </div>

{% endblock %}