{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Изменить профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="$('#newCommentModal').modal('show');">Написать комментарий</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Написать комментарий</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input id="commentText" class="form-control" type="text" placeholder="Комментарий">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button id="newCommentButton" type="button" class="btn btn-primary">Написать</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% for user in users %}
                    <div class="user">{{ user.firstName }}&nbsp;{{ user.lastName }}</div>
                {% endfor %}
            </div>
            <div class="col-md-9">
                {% for comment in comments %}
                    <div class="comment-block" data-id="{{ comment.id }}">
                        <p class="comment-text">{{ comment.text }}</p>
                        <p class="author">Автор:&nbsp;{{ comment.user.username }}</p>
                        {% if comment.user == currentUser %}
                            <button type="button" class="btn btn-normal button-edit">Редактировать</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
