{% extends 'base.html.twig' %}
{%  block title %}Профиль{% endblock %}

{% block body %}
    <form action="/editProfile" method="post">
        <div class="form-group">
            <label for="firstName">Имя</label>
            <input id="firstName" name="firstName" type="text" value="{{ currentUser.firstName }}">
            <label for="lastName">Фамилия</label>
            <input id="lastName" name="lastName" type="text" value="{{ currentUser.lastName }}">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}