.comment-block {
    border: #868686 dotted 1px;
    margin: 30px 30px;
    padding: 10px 10px;
}
.comment-block .comment-text {
    font-size: 16px;
}
.comment-block .author {
    font-size: 12px;
    text-align: right;
}
